header {
    margin: 10px;
    padding: 5px;
    border: 2px solid #042940;
    border: rounded 10px;
    border-radius: 25px;
    font-family: arial, sans-serif; 
    text-align: center;
    text-transform: uppercase;
    background-image: url(https://cdn1.snowpak.com/images/images/000/010/267/medium/Sun-Valley-enjoy_lots_of_bluebird_days_at_sun_valley%28resort-FB%29.jpg?1600757352);
    background-size: contain;
}

li {
    list-style: none;
}

body {
    background-color: rgb(243, 243, 243);
    color: #011927;   
}

/* id selectors */
#copyright {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#mainLinks {
    font-family: arial, sans-serif;
    text-align: center;
    font-size: smaller;
}

#mainTitle {
    font-family: arial, sans-serf;
    text-align: center;
    font-size: 75px;
    color:#042940;
}